.pokemons {
  padding: 1rem;
  ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .card {
    width: 20vw;
    border: 10px solid rgb(218, 171, 52);
    padding: 1rem;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
  }
  .card img {
    width: 20vw;
  }
}
